<div class="home-wrapper", style="background-image: url(<%= asset_path 'ski.jpg' %>), linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%)">
  <h1>SportBnb</h1>
</div>

<div class='page-container'>
<!--     <p>Search bar</p>-->
  <p class="text-center">Découvrez nos derniers produits!</p>
  <div class="cards">
    <ul>
        <% @materials.each do |material| %>
      <div class="card col-xs-3", style="background-image: url(<%= asset_path 'skis.jpg' %>)">
        <div class="container">
          <li><p><%= link_to material.description, material_path(material.id) %></p></li>
        </div>
      </div>
        <% end %>
      </ul>
    </div>

</div>
<%= link_to "Ajouter un materiel", new_material_path, class: "btn btn-primary btn-lg" %>
