.home-wrapper {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
}

.page-banner {
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #eee;
  text-align: left;
  padding-top: 1vh;
  padding-left: 15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recap-container {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.page-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
}
