.home-wrapper {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
}

.page-banner {
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #eee;
  text-align: left;
  padding-top: 1vh;
  padding-left: 15px;
}

.small-banner {
    width: 100vw;
    height: 50vh;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
}

.small-banner h1 {
    padding-top: 60px;
}

.small-banner h2 {
    padding-top: 60px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recap-container {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.page-container {
    display: flex;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}
