.cards{
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

.card {
  width: 300px;  /* Or whatever */
  height: 300px; /* Or whatever */
  margin: 1px thin solid lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 20px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}


