<div class="small-banner", style="background-image: url(<%= asset_path 'bike2.jpg' %>), linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%)">
  <h1>Ajouter du matériel</h1>
</div>

  <div class="container-form">

    <%= render "form" %>
  </div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Sport BnB made this footer with <i class="fas fa-heart"></i> at Le Wagon
  </div>
