<h1>Merci de votre location!</h1>
<h2>Récapitulatif commande:</h2>
<p>Produit: <%= @location.material.description %></p>
<p>Début: <%= @location.start_date %></p>
<p>Fin: <%= @location.end_date %></p>
<p>Prix: </p>
<h2>A très vite!</h2>
